:root {
  --main-color: #144183;
  --secondary-color: #CAB390;
  --danger-color: #e94256;
}

.ant-btn-lg {
  height: 40px;
  padding: 6.4px 15px;
  font-size: 16px;
  border-radius: 8px;
}

.ant-typography a {
  color: var(--main-color);
}

.ant-typography a:hover {
  color: var(--secondary-color);
}

.ant-btn:hover, .ant-btn:focus {
  color: var(--main-color);
  background-color: #fff;
  border-color: var(--main-color);
}

.ant-btn {
  border-radius: 8px;
}

.ant-btn-primary {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #fff;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #fff;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

a {
  color: var(--main-color);
}

a:hover {
  color: var(--secondary-color);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #EFEFF4;
}

.ant-menu-item-selected {
  color: var(--main-color);
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  color: var(--main-color) !important;
}


.uk-text-primary {
  color: #144183 !important;
}

.uk-text-danger {
  color: var(--danger-color) !important;
}

.uk-label {
  background: var(--main-color);
}

.uk-label-danger {
  background: var(--danger-color);
}

.uk-label-warning {
  background:  var(--danger-color);
}

.RichEditor-activeButton {
  background-color: var(--main-color) !important;
}

.RichEditor-editor .RichEditor-blockquote {
  border-color: var(--secondary-color) !important;
}


.main-color  {
  color: var(--main-color) !important;
}

.secondary-color  {
  color: var(--secondary-color) !important;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.top-navbar .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  color: var(--secondary-color);
  border: none;
}


.ant-menu-horizontal > .ant-menu-item-selected > a {
  color: var(--main-color);
}

.ant-menu-horizontal > .ant-menu-item-active > a {
  color: var(--main-color) !important;
}

.top-navbar .ant-menu-horizontal > .ant-menu-item-selected > a {
  color: var(--secondary-color);
}

.top-navbar .ant-menu-horizontal > .ant-menu-item-active > a {
  color: var(--secondary-color) !important;
}


.ant-input {
  border-radius: 8px;
}

.ant-input-affix-wrapper {
  border-radius: 8px;
}

.ant-input-group-addon:first-child {

}

.menu-popover {
  left: 45px;
  top: 51px;
  transform-origin: 279px -4px;
}

.popover-parent  {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.welcome-header {
  border-radius: 12px;
  padding: calc(4vw);
  position: absolute;
  top: calc(40% - 112px);
  max-width: calc(92vw)
}

@media (max-width: 768px) {
  .welcome-header {
    top: 44px;
  }
}

@media (min-width: 768px) {
  .uk-height-medium\@m {
    height: 300px;
  }
}


.phone .ant-drawer-body {
  padding: 0px;
}
